@font-face {
    font-family: 'caroniregular';
    src: url('font/caroni-regular-webfont.woff2') format('woff2'),
         url('font/caroni-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'snicklesregular';
    src: url('font/snickles-webfont.woff2') format('woff2'),
         url('font/snickles-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    outline: 1px solid red;
}


body {
    background-color:#f0eee1;
    background-image: url(dripping_milk1_blue_with_logo_top.png);
    background-repeat: no-repeat;
    background-size:contain;
	background-position: top;
    margin-top: 0;
	margin-left: auto;
	margin-right: auto;
    
    font-family: 'snicklesregular';

}

#nav {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	margin-top: 30px;
    font-size: 4.4em;
    text-align: center;
    color: #0d1e32;
	grid-column: 1/4;
	padding-bottom: 200px;
}

#nav a {
    text-decoration: none;
    color:#0d1e32;
}

#nav a.selected {
       text-decoration-line:underline
}

#nav a:hover {
    color: goldenrod;
}



#THE-LOGO {
     background-image:url(milk%2520drips/blue.png);
    background-repeat: no-repeat;
    height: 400px;
    margin: auto;
    background-size: 100%;
    background-color: blue;
    
}

#THE-LOGO h1 {
    font-size: 6em;
    text-align: center;
    margin-top: -100px;
        
}
#THE-LOGO p {
    font-size: 2em;
    text-align: center;
    font-family: 'caroniregular';
           
}
#img {
    background-image: url(milk%2520drips/blue.png);
    background-color: #b0e3e4;
}
#img h2 {
    margin-top: 300px;
}
